<div class="top-hero-wrapper text-center">
  <div class="container top-hero-container">

<div class="row">
<%= form_with url: payment_path do |form| %>

  <%= form.select :amount, [["1000","1000"],["2000","2000"]] %>

  <%= form.submit "支払い", class: 'btn-block btn-white' %>

<% end %>



</div>

</div>
</div>

  